.input {
  background-color: #fff;
  .input-form {
    background-color: #fff;
  }
  .todo-input {
    all: unset;
    border-bottom: 1px solid rgb(184, 182, 182);
    background-color: #fff;

    &:hover {
      animation: borderAnimation 0.5s ease-in-out forwards;
    }
    &:focus {
      animation: borderAnimation 0.5s ease-in-out forwards;
    }
  }
  .add-button {
    all: unset;
    cursor: pointer;
    margin-left: 2em;
    background-color: #fff;
    .emoji-span {
      background-color: #fff;
    }
  }
  .todos-container {
    background-color: #fff;
  }
}

@keyframes borderAnimation {
  0% {
    border-bottom: 2px solid rgb(184, 182, 182);
  }
  100% {
    border-bottom: 2px solid rgb(255, 85, 85);
  }
}
